<h1> Showing all Questions </h1>

<% @questions.each do  |question| %>
   <%= question.title %> <br>
   <%= question.description %>
    <%= link_to "Edit Question", edit_question_path(question) %>
    <%= link_to "Delete Question", question, method: :delete, data: {confirm: "Are you sure you'd like to delete this post?"}  %>
<% end  %>

<%=  link_to "New Question", new_question_path %>
