<br>
<h1 class="heading"> Showing all Questions on Ruby <i class="fas fa-gem"></i> </h1>

<div class="container">
 <div class="row">
   <div class="col-sm-10 col-sm-offset-1">
<br>
<% @questions.each do  |question| %>
  <div class="q-title">
   <%= link_to markdown(question.title), question %> 
  </div>
 <br> 

  <div class="q-description">

    <p> <%= markdown(truncate(question.description, :length => 250 , :seperator => ' '))%> </p> 
    <br> <br>
    <p class="index-icon-heart"> <%= question.votes.count %> <i class="fas fa-heartbeat"></i> 
    <p class="index-icon-reply"> <%= question.answers.count %> <i class="fas fa-reply-all"></i>
    <p class="index-icon-child"> <i class="fa fa-child" aria-hidden="true"></i> published by <%= question.user.username %> (<%= question.created_at.strftime("%Y-%m-%d")%>) </p>
</div>
  <br>  <br>

<% if signed_in? && question.user == current_user%>
<div class="links">
   <%= link_to "#{fa_icon("pen")}".html_safe, edit_question_path(question), :title => 'Edit Question', :rel => 'tooltip', "data-placement" => "bottom"%>
   <%= link_to "#{fa_icon("times")}".html_safe, question, method: :delete, data: {confirm: "Are you sure you'd like to delete this post?"} , :title => 'Delete Question', :rel => 'tooltip', "data-placement" => "bottom"  %>
</div>
<br>
  <% end %> 
<% end  %>

<% if signed_in? %>
  <div class="voteicon">
    <%= link_to "#{fa_icon("feather-alt")} Ask New Question".html_safe, new_question_path %>
  </div>
<% else %>
<div class="voteicon">
    <%= link_to "#{fa_icon("user-plus")} Log in to ask new Question".html_safe, login_path %>
</div>
<% end %>

    
   </div>
  </div>
 </div>
